APP_ID=3374320125227368636
ZMP_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNzg4OTE3MzYyOTgzNjgyNDgiLCJhcHBJZCI6IjMzNzQzMjAxMjUyMjczNjg2MzYiLCJpc3MiOiJhdXRoMCIsImV4cCI6MTc3NjEzNjA2M30.gIZe9Xe1wYswgntirZ_UIs2IAb779dZrWW277Srl1Is
VITE_API_BASE_URL=https://8dd5-2405-4802-1bf7-d370-f952-da22-15d7-7922.ngrok-free.app
VITE_DEFAULT_PHONE_DISPLAY=0912 345 678
VITE_FALLBACK_ZALO_PHONE=84123456789
VITE_ZALO_USER_STORAGE_KEY=beauty-summit.zalo-user
VITE_ZALO_QR_STORAGE_KEY=beauty-summit.qr-checkin
VITE_FORCE_ONBOARDING_PERMISSION_TEST=false
VITE_ZALO_SECRET_KEY=yk66eJMRt2k8NSvL7T5B
