DATABASE_URL="mysql://root:@127.0.0.1:3307/EAC"
DB_HOST="127.0.0.1"
DB_USER="root"
DB_PASSWORD=""
DB_NAME="EAC"
DB_PORT=3307
MINIAPP_ORIGIN="http://localhost:5173,https://h5.zdn.vn,https://mini.zalo.me,https://miniapp.zalo.me"
PM2_INSTANCE_COUNT=4
DB_CONNECTION_LIMIT_TOTAL=80
DB_CONNECTION_LIMIT=
DB_MAX_IDLE=20
DB_IDLE_TIMEOUT_MS=60000
DB_QUEUE_LIMIT=0
API_TRACE_LOG=false
PRISMA_QUERY_LOG=false
MINIAPP_ACCESS_CACHE_TTL_MS=10000
MINIAPP_VOUCHER_CACHE_TTL_MS=15000
VOTE_CATEGORY_CACHE_TTL_MS=5000
ZALO_MINIAPP_API_KEY=""
